<!DOCTYPE html>
<html>
<head>
    <title>The Power Web</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/pygments.css">
</head>
<body>
    <h1>Execute The Power Scripts</h1>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        <label for="{{ form.script.id }}">{{ form.script.label }}</label>
        {{ form.script }}
        <button type="submit">Execute</button>
    </form>
    <br>
    {% if output %}
    <div class="output">
    <pre id="output">{{ colorized_output|safe }}</pre>
</div>
    {% endif %}
</body>
</html>

