# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: the-power

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      debian_10_csv_file:  "/tmp/debian-10-syslog.csv"
      heroku_csv_file:  "/tmp/heroku-sample.csv"
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9

    - name: run configure script
      run: |
        python3 configure.py --hostname api.github.com \
                     --enterprise-name enterprise-example \
                     --token ghp_mrsMigginsPIEShopmAWV6tyRZxwbwk0JAI94 \
                     --org org-example \
                     --repo testrepo \  
                     --repo-webhook-url https://example.com/webhook \
                     --app-configure yes \
                     --app-id 1 \
                     --app-installation-id 1 \
                     --app-client-id client_id \
                     --app-private-pem test.pem \
                     --team-members "a b c d" \
                     --team-admin "a" \
                     --default-committer "b" \
                     --primer "list-config"
    







